<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detalhes.css">
    <title>Detalhes</title>
</head>

<body>
    <nav>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li class="md"><a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>
    <header>
        <p></p>
    </header>

<div id="global">
    <h2>Detalhamento de Pokemons</h2>
    <main>
        <section id="cards">   
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h2><%= pokemon.nome %></h2>
                    <p><%= pokemon.categoria %></p>
                    <p><%= pokemon.tipo %></p>
                    <p><%= pokemon.altura %></p>
                    <p><%= pokemon.peso %></p>
                    <p><%= pokemon.habilidade %></p>
                    <p><%= pokemon.detalhes %></p>

                    <p><a href="/detalhes/<%= pokemon.id %>">Detalhes</a></p>
                </div>
        </section>
    </main>
</div>
    <footer>
        
    </footer>
</body>
</html>